{% extends 'ba_base.html' %}
{% load static %}
{% block content %}

<h2>User Details</h2>
<p>Username: {{ superuser.full_name }}</p>
<p>Email: {{ superuser.email }}</p>
<hr>
<h5>Authorization level</h5>
<p>Is Superuser: {{ superuser.is_superuser }}</p>
<p>Is Admin: {{ superuser.is_admin }}</p>
<p>Is Student: {{ superuser.is_student }}</p>
<p>Is Staff: {{ superuser.is_staff }}</p>
<p>Is Active: {{ superuser.is_active }}</p>

<a class="btn btn-info" href="{% url 'SuperUserUpdate' superuser.pk %}">Edit</a>
<a class="btn btn-outline-info" href="{% url 'SuperUserList' %}">Back to list</a>

{% endblock %}