{% extends 'ba_base.html' %}
{% block content %}

    <h1 style="margin-left: 15px;" class="text-primary">Comfim Deletion</h1>
    <div class="col ">
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary mb-3">Are you sure you want to delete:<strong class="text-danger">{{ superuser.full_name }}</strong>?</h3>
                <!-- <p>Are you sure you want to delete: <strong class="text-danger">{{ superuser.full_name }}</strong>?</p> -->
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Yes, delete</button>
                    <a class="btn btn-primary" href="{% url 'SuperUserList' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
<!-- </div> -->

{% endblock %}